<a href="#View/{{userName}}" class="btn btn-info" ng-disabled="isCurrent('/View/')">View User</a>
<a href="#Edit/{{userName}}" class="btn btn-info" ng-disabled="isCurrent('/Edit/')">Edit User</a>
<a href="#Password/{{userName}}" class="btn btn-info" ng-disabled="isCurrent('/Password/')">Change Password</a>
<a href="#Activities/{{userName}}/50" class="btn btn-info" ng-disabled="isCurrent('/Activities/')">View Activity/Logs</a>
<a href="#Raw/{{userName}}" class="btn btn-info" ng-disabled="isCurrent('/Raw/')">Raw/Xml Data</a>
