@using O2.DotNetWrappers.ExtensionMethods
@using TeamMentor.CoreLib

@{
    var userData = TM_UserData.Current;
    var userName = System.Web.HttpContext.Current.Request["userName"];    
    var tmUser = userData.tmUser(userName);
}

<h4>User details</h4>

@if (tmUser.notNull())
{          
    <h5>Raw Data</h5>
    <ul>
        <pre>@tmUser.toXml();</pre>
    </ul>
}
else
{
    <p>No user found</p>
}